<%-include("layout/header.ejs") %>
<section class="otpform mx-3 mx-sm-0">
    <div class="container">
        <div class="maincon">
            <% if(locals.err){ %>
                <input type="hidden" style="display: none;" id="err" value="<%= locals.err %>">
            <% } %>
            <div class="row d-flex justify-content-evenly my-4">
                <div class="card col-md-6 p-4 officermain ">
                    <h3>OFFICER LOGIN</h3>
                    <div class="formdiv px-4">
                        <form action="/officer/login" method="post" id="regform">                                
                            <div class="inputdiv my-3">
                                <label for="email">Enter E-mail</label>
                                <input type="text" name="email" id="email" class="form-control">
                                <p class="text-danger" id="emailerr" style="display: none;"></p>
                            </div>
                            <div class="inputdiv my-3">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control">
                                <p class="text-danger" id="passworderr" style="display: none;"></p>
                            </div>
                            <input type="submit" class="btn form-control my-4" value="LOGIN">
                        </form>
                </div>
                
            </div>  

        </div>
    </div>
</section>
<script src="/public/js/officerLoginScript.js"></script>
<%-include("layout/footer.ejs") %>
