
<%-include("userLayout/header.ejs")%>
<section class="maindiv">
    <div class="container p-5">
        <div class="banner">
            <h3 class="rep">Report</h3>
            <h3 class="your">Your</h3>
            <h3 class="comp">Complaints</h3>
            <h3 class="here">Here!</h3>
        <div class="bannerimg">
            <img src="/public/image/1650466631.jpg" alt="">
        </div>
        </div>
    </div>
</section>

<section class="secquote my-5">
    <div class="container px-5">
    <div class="mainquote px-5">

    <h3 class="text-center"><u>OUR VISION</u></h3>
    <div class="quote"> 
        <h3><span class="left"><i class="fa-solid fa-quote-left"></i></span>Empowerment is not only about making women stronger, but also ensuring that they have the tools to protect themselves online. Justice for women in the digital realm means holding perpetrators of cyber crimes accountable and creating a safe space where every woman's voice is heard and respected.
            <span class="right"><i class="fa-solid fa-quote-right"></i></span></h3>  
        <img src="/public/image/f1244fe83cb7bf2e41bd1d77429e7df0-removebg-preview.png" alt="">
    </div>
</div>
</div>
</section>

<section class="mainsec">
    <div class="container">
        <div class="maincon">

            <div class="row d-flex justify-content-evenly p-5">
                <div class="card col-md-3 p-4 maincard">
                    <h3>75 Million</h3>
                    <h6>Womens and girls alive today were married before the age of 18</h6>
                </div>
                <div class="card col-md-3 p-4">
                    <h3>1 in 5</h3>
                    <h6>women have experienced physical or sexual violence in the last 12 months</h6>
                </div>
                <div class="card col-md-3 p-4">
                    <h3>23.7 percent</h3>
                    <h6>representation of women in political offices</h6>
                </div>
            </div>  
            <p class="text-center">Source : <a href="https://www.un.org/sustainabledevelopment/gender-equality/">United Nations</a></p>

        </div>
    </div>
</section>
<section class="sec1 my-5">
    <div class="container">
        <div class="maincon1 p-5">
            <h4>Women Safety</h4>
            <p>Welcome to our website dedicated to ensuring women's safety from cyber crimes. In today's digital age, women face unique challenges when it comes to online safety and privacy. Our platform is designed to provide valuable resources, education, and tools to empower women in navigating the digital world securely. Through informative articles, tutorials, and practical tips, we aim to raise awareness about cyber threats such as online harassment, stalking, identity theft, and cyberbullying. Additionally, we offer guidance on how to protect personal information, secure online accounts, and recognize potential risks. By fostering a supportive online community, we encourage women to share their experiences, seek assistance, and build resilience against cyber threats. Together, let's create a safer and more inclusive online environment where every woman feels empowered and protected.</p>
        </div>
    </div>
</section>


<section class="sec2 my-5">
    <div class="container">
        <div class="maincon2 p-5">
            <img src="/public/image/kisspng-united-states-computer-security-threat-cyberwarfar-health-network-chain-5a906e75e014e7.6073662915194149019179-removebg-preview.png" alt="">
            <h4>Confidential Crime Registration</h4>
            <p>Welcome to our website dedicated to ensuring women's safety from cyber crimes. In today's digital age, women face unique challenges when it comes to online safety and privacy. Our platform is designed to provide valuable resources, education, and tools to empower women in navigating the digital world securely. Through informative articles, tutorials, and practical tips, we aim to raise awareness about cyber threats such as online harassment, stalking, identity theft, and cyberbullying. Additionally, we offer guidance on how to protect personal information, secure online accounts, and recognize potential risks. By fostering a supportive online community, we encourage women to share their experiences, seek assistance, and build resilience against cyber threats. Together, let's create a safer and more inclusive online environment where every woman feels empowered and protected.</p>
        </div>
    </div>
</section>

<section class="regsec my-5">
    <div class="container">
        <div class="regbtns" id="registerComplaint">
            <a href="">Register</a>
            <a href="">Register Anonymous</a>
        </div>
    </div>
</section>

<section class="acksec my-5">
    <div class="container">
        <div class="ackformdiv">
            <h5 class="text-center">Know Report Status Here</h5>
            <div class="searchbar my-4">
             <form action="" class="d-flex" id="statusform">
                <input type="text" class="form-control" id="acknowledgementNo" placeholder="Enter Acknowledgement Number Here.">
                
                <input type="submit" value="SEARCH" id="searchComplaintStatus">
               

            </form>
            </div>
            <p class="" style="color:white ;margin-left: 308px;" id="acknowledgeErr" style="display: none;"></p>

        </div>
    </div>
</section>

<script src="/public/js/acknowledgementNumberScript.js"></script>
<%-include("userLayout/footer.ejs")%>

